{% extends 'index.html' %}
{% block title %}Edit{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
      <form action="/update/{{id}}">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" value={{title}}>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3">{{description}}</textarea>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" name="status">
            <option value="{{status}}" selected hidden>{{status}}</option>
            <option value="later">later</option>
            <option value="doing">doing</option>
            <option value="done">done</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin: 0 auto;">Update</button>
      </form>
      </div>
      </div>
{% endblock %}
