{% extends 'index.html' %}
{% block title %}All Todo's{% endblock %}
{% block content %}
{% for t in todos %}
<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
              <h5 class="card-title">{{t.title}}  </h5>
              <p class="card-text">{{t.description}}</p>
              <p class="card-text text-primary">{{t.status}}</p>
              <p class="card-text">{{t.date}}</p>

              <a href="/delete/{{t.id}}" class="btn btn-danger">Delete</a>
              <a href="/edit/{{t.id}}" class="btn btn-warning">Edit</a>


            </div>
          </div>
    </div>
</div>

{% endfor %}
{% endblock %}
